#footer {
    padding: 15px 0;
    .footer-container a {
        &:not(:last-child) {
            &::after {
                content: '|';
                padding: 0 5px;
            }
        }
    }
}
