@import './variables.scss';

main {
    h1.title {
        font-size: 2rem;
        font-weight: 400;
        color: $main-title-color;
        text-align: left;
        span {
            font-weight: 700;
        }
    }
    #main-content {
        h2 {
            color: $titles-red-color;
            font-size: 1.5rem;
            margin: 24px 0;
            font-weight: 700;
        }

        #seventh-section h6 {
            background-color: $photo-caption-color;
        }
        #eighth-section {
            .marked-text {
                color: #DB3318;
                background-color: $marked-text-color;
            }
            .banner {
                font-size: 3rem;
                font-weight: bold;
                color: $banner-color;
                border: solid 5px $banner-color;
                border-width: 3px 5px 2px 5px;
                padding: 20% 0;
            }
            .marked-text-two {
                color: $marked-text-color;
                background-color: $marked-green-text-color;
                font-size: 1.2rem;
            }

            .list-number {
                list-style-type: decimal;
                font-size: 1.25rem;
                font-weight: 500;
                p {
                    font-size: 1rem;
                    font-weight: normal;
                }
            }
        }

        #ninth-section {
            .list-arrow {
                list-style-type: none;
                position: relative;
                .arrow {
                    position: absolute;
                    top: 3px;
                    left: -24px;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: url('./assets/list-arrow.jpg');
                }
                p {
                    display: inline-block;
                }
            }
        }
        #tenth-section {
            .sign-container {
                position: relative;
                i {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: rotate(-10deg) translate(-50%, -50%);
                }
                h3 {
                    font-size: 1.5rem;
                    span {
                        display: block;
                    }
                }
            }
        }
        #elventh-section {
            .pic-container {
                flex-flow: column;
                background-image: url('./assets/assembled-border.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 100% 100%;
                ul {
                    li {
                        list-style-type: none;
                        .star {
                            color: $feature-green-color;
                        }
                    }
                }
            }
        }

        #twelfth-section {
            position: relative;
            .sati-sign {
                position: absolute;
                bottom: 0.5%;
                left: 3%;
                width: 18%;
            }
            .counter-container {
                font-size: 1.2rem;
            }
            .price-container {
                position: relative;
                .price {
                    text-decoration: line-through;
                    font-size: 1.6rem;
                    &::after {
                        content: '99$';
                        font-size: 2.8rem;
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%);
                        font-weight: 700;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
