$background-color: #FFFFFF;
$background-margin-color: #DEE1E4;
$main-title-color: #6A2510;
$text-color: #746178;
$titles-red-color: #DB3318;
$font-black-color: #222428;
$feature-green-color: #6E9233;
$aside-quotes-color: #BF4447;
$form-buy-color: #61A552;
$form-shipping-color: #771708;
$marked-text-color: #FDFF53;
$photo-caption-color: #FBF5B7; 
$marked-green-text-color: #447F23;
$banner-color:#D9DBDA;
