$danger: #DB3318;
@import "~bootstrap/scss/bootstrap";
@import '~font-awesome/css/font-awesome.css';
@import './styles/variables.scss';
@import './styles/header.scss';
@import './styles/asideContent.scss';
@import './styles/mainContent.scss';
@import './styles/formContent.scss';
@import './styles/footerContent.scss';

body {
    background-color: $background-margin-color;
    color: $font-black-color;
    .outside-container {
        box-shadow: 6px 0 10px -4px rgba(84, 84, 85, 0.8), -6px 0 10px -4px rgba(84, 84, 85, 0.8);
        padding: 0;
    }
    .my-row, .my-col {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .k {
        user-select: none;
    }
}

@media only screen and (max-width : 1024px) {
    #main {
        flex: 0 0 100%;
        max-width: 100%
    }
    #aside {
        display: none;
    }

    .pic-container {
        padding: 1rem !important;
        background-size: cover !important;
        h3 {
            font-size: 1.5rem;
            margin-top: 1.4rem;
        }
        ul {
            padding-inline-start: 5px;
            padding: 6px;
        }
        .star {
            margin-left: 10px;
        }
    }
}
